<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{poi?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="poi">
  <ion-img [src]="poi.imageUrl" alt="{{poi.name}}"></ion-img>

  <ion-list>
    <ion-item><ion-label>{{poi.city}}</ion-label></ion-item>
    <ion-item>
      <ion-label>{{poi.description || ''}}</ion-label>
    </ion-item>
    <ion-item *ngIf="poi?.category">
      <ion-label>Categoria: {{ poi?.category }}</ion-label>
    </ion-item>
    <ion-item *ngIf="poi?.openingHours">
      <ion-label>Horários: {{ poi?.openingHours }}</ion-label>
    </ion-item>
    <ion-item *ngIf="poi?.priceRange">
      <ion-label>Preço: {{ poi?.priceRange }}</ion-label>
    </ion-item>
    <ion-item *ngIf="poi?.website">
      <ion-label>Site oficial</ion-label>
      <ion-button slot="end" fill="outline" (click)="openSite()"
        >Abrir</ion-button
      >
    </ion-item>
  </ion-list>

  <div style="padding: 12px; display: flex; gap: 10px; justify-content: center">
    <ion-button style="flex:1" (click)="openGoogle()">
      <ion-icon slot="start" [src]="'assets/icon/google-maps.svg'"></ion-icon>
      Google Maps
    </ion-button>

    <ion-button style="flex:1" (click)="openWaze()">
      <ion-icon slot="start" [src]="'assets/icon/waze.svg'"></ion-icon>
      Waze
    </ion-button>
  </div>
</ion-content>
