# dependências / builds
node_modules/
www/
dist/
coverage/
.tmp/
.temp/

# ambientes / configs locais
*.local
*.log
.env
.env.*.local
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Angular/Ionic
.angular/
.sass-cache/
.eslintcache
